<configuration>
    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    <file>/home/logs/dockerdemo-${CONTAINER_NAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover. Make sure the path matches the one in the file element or else
         the rollover logs are placed in the working directory. -->
        <fileNamePattern>/home/logs/dockerdemo-${CONTAINER_NAME}.log.%d{yyyy-MM-dd}.%i</fileNamePattern>

        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>5MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <!-- keep 30 days' worth of history -->
        <maxHistory>30</maxHistory>
    </rollingPolicy>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>